<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si le fichier ou le dossier demandé n'existe pas, on passe tout à index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L,QSA]
</IfModule>
